body
{
    background: rgb(5, 59, 110);
}
/* .grid-container {
    display: grid;
    width:100%;
    height: 100%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    /* padding: 2px;
    margin-top:10%;
  } */ 
  /* .photoBar
  {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    grid-gap: 1px;
    margin-top:1%;
      
  }
  .photoBar > div 
  {
    background-color: rgba(92, 41, 41, 0.8);
    text-align: center;
    padding: 2px 0;
    font-size: 3px;
  } */
  
/* .grid-container > div {
    background-color: rgb(5, 59, 110);;
    text-align: center;
    padding: 8px 0;
    font-size: 30px;
    border: 2px solid black;
  } */
  /* // the photo and the left coloumn */
   /* .photoBar  
    {
     grid-row-start:1;
     grid-row-end:8; */
     /* background-color:rgb(5, 59, 110); */
     /* width:200px;
     margin-left:15%;
     grid-column-start:1;
     grid-column-end:2;

    } */
    /*
.itemPhoto 
  {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  .itemSocialmedia
  {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  } */
/* .myname 
  {
    grid-column-start: 2;
    grid-column-end: 4;
  }
 
.item3
  {
   grid-column-start:2;
   grid-column-end:4;
   
  }
.item4
  {
   grid-column-start:2;
   grid-column-end:4;
   }
.item5
  {
   grid-column-start:2;
   grid-column-end:4;
   }
.item6
  {
   grid-column-start:2;
   grid-column-end:4;
   }
   
.item7
  {
   grid-column-start:2;
   grid-column-end:4;
   }
.item8
  {
   grid-column-start:2;
   grid-column-end:4;
   } */

.container
{
    width:90%;
    height:600px;
    border:1px solid black;
    margin-top:5%;
    margin-left:5%;
    
}
.item
{
    border:1px solid black;
    padding:5px;
    margin:5px;
}
.myname
{
    color:rgb(26, 102, 202);
    text-shadow: 1px 2px rgb(8, 3, 31);
    text-align: center;
}
.nameinside
{
    font-family: Georgia;
    font-size: 20px;
    border-width:3px;;
    height: auto;
    border-style: double; 
    margin-right:25%;
    margin-left:25%;
    border-color: #0cc3db;
    
}
.nameinside:hover
{
    border-color: #09d119;
    color:#4a94c5;
}

