#myphoto
{
    border-radius:50%;
    height:250px;
    width:230px;
    /* padding-left:10%; */
    align-content: right;
    margin-left:35px;
    
}
.kavindu
{
    text-align:left;
    padding-left:40px;
    padding-bottom: 10px;
    padding-top:10px;
    text-shadow: 1px 2px rgb(2, 14, 36);
    text-emphasis-color: white; 
    
}
.btn
{
    margin-left:0px;
    padding-left:0px;
    
}
.btn:hover
{
    font-weight: bold;
    color:white;
    
}
.nameAbout:hover
{
    /* font-family: Verdana; */
    color:rgb(34, 214, 34);
    
}
.nameAbout
{
    font-size: 18px;
}
#detailsSection
{
    margin-top:10%;
}
#topicname
{
    margin-top:18px; 
}
body
{
    background-color:rgb(6, 42, 75);
}
a
{
    text-decoration: none;
    text-anchor: none;
}
a:hover
{
    color:white;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width:80px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
